<mat-toolbar class="mat-shadow-2">
  @if (isMobile()) {
    <button
      matIconButton
      (click)="toggleMobileSidenav()"
      aria-label="Toggle navigation"
      class="mobile-menu-btn"
    >
      <mat-icon>menu</mat-icon>
    </button>
  }
  <button matButton (click)="navigateHome()">{{ 'common.appName' | translate }}</button>
  <span class="spacer"></span>
  <user-settings></user-settings>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [opened]="isMobile() ? mobileOpened() : true"
    [mode]="isMobile() ? 'over' : 'side'"
    [class.collapsed]="!isMobile() && isCollapsed()"
    [style.width.px]="isMobile() ? sideBarMaxWidth : (isCollapsed() ? sideBarCollapsedWidth : sideBarMaxWidth)"
    (openedChange)="onMobileOpenedChange($event)"
    class="sidenav"
  >
    @if (!isMobile()) {
      <div class="toggle-container" [class.collapsed]="isCollapsed()">
        <button
          matIconButton
          (click)="toggleCollapse()"
          [attr.aria-label]="isCollapsed() ? 'Expand sidebar' : 'Collapse sidebar'"
        >
          <mat-icon class="toggle-icon" [class.rotated]="isCollapsed()">chevron_left</mat-icon>
        </button>
      </div>
    }
    <sidenav-content [isCollapsed]="!isMobile() && isCollapsed()"></sidenav-content>
  </mat-sidenav>

  <mat-sidenav-content
    class="content"
    [style.margin-left.px]="isMobile() ? null : (isCollapsed() ? sideBarCollapsedWidth : sideBarMaxWidth)"
  >
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
